name: Send Response to Azure Backend

on:
  workflow_dispatch:

jobs:
  send-response:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4


      - name: Generate output
        run: |
          OUTPUT="Pipeline executed successfully"
          echo "OUTPUT=$OUTPUT" >> $GITHUB_ENV


      - name: Read file content
        run: |
          FILE_CONTENT=$(cat data.txt)

          echo "FILE_CONTENT<<EOF" >> $GITHUB_ENV
          echo "$FILE_CONTENT" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV


      - name: Send response to Azure backend
        run: |
          curl -X POST https://pravin-pipeline-api-pravin123.azurewebsites.net/api/pipeline/response \
          -H "Content-Type: application/json" \
          -d "{
                \"runId\": \"${{ github.run_id }}\",
                \"status\": \"success\",
                \"generatedOutput\": \"$OUTPUT\",
                \"fileContent\": \"$FILE_CONTENT\",
                \"timestamp\": \"$(date -u +"%Y-%m-%dT%H:%M:%SZ")\"
              }"
